<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description"
        content="DeFi made Easy. One Click Staking, No Impermanent Loss, Locked Liquidity Forever.">
    <title>Infinity Stones</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/dropdown_style.css">
    <link rel="stylesheet" href="css/theme_style.css">
    <link rel="stylesheet" href="css/mbr-additional.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
  <section class="menu menu3 cid-slHSHPg7yN" once="menu" id="menu3-o">
    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="index.html">
                        <img src="images/logo.png" alt="Mobirise" style="height: 3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black text-primary display-7"
                        href="index.html">Infinity Stones</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    <li class="nav-item dropdown">
                        
                        <a class="nav-link link dropdown-toggle text-black display-4"
                            href="#" data-toggle="dropdown-submenu" aria-expanded="false">
                            Stones Farms</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-black display-4"
                            href="#">Development</a>
                            <!-- <a class="dropdown-item text-black text-primary display-4"
                                href="#info-1">S.H.I.E.L.D.</a><a
                                class="dropdown-item text-black text-primary display-4" href="#info-2">Hydra</a><a
                                class="dropdown-item text-black text-primary display-4"
                                href="#info-3">Illuminati</a><a
                                class="text-black dropdown-item text-primary display-4" href="#info-4"
                                aria-expanded="false">Wakanda<br></a> -->
                            
                            </div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle display-4"
                            href="#" data-toggle="dropdown-submenu" aria-expanded="false">Gems
                            Farms</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-black display-4"
                            href="#">Development</a>
                            <!-- <a class="text-black dropdown-item text-primary display-4" href="#sto-1">Soul
                                Stone</a> -->
                                
                                <!-- <a class="text-black dropdown-item text-primary display-4" href="#sto-1"
                                aria-expanded="false">Reality Stone</a><a
                                class="text-black dropdown-item text-primary display-4" href="#sto-1"
                                aria-expanded="false">Space Stone</a><a
                                class="text-black dropdown-item text-primary display-4" href="#sto-1"
                                aria-expanded="false">Power Stone</a><a
                                class="text-black dropdown-item text-primary display-4" href="#sto-1"
                                aria-expanded="false">Time Stone</a><a
                                class="text-black dropdown-item text-primary display-4" href="#sto-1"
                                aria-expanded="false">Mind Stone</a><a
                                class="text-black dropdown-item text-primary display-4" href="#sto-1"
                                aria-expanded="false">Infinite Gloves</a> -->
                        </div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link link dropdown-toggle text-black display-4"
                            href="#sto-7" data-toggle="dropdown-submenu" aria-expanded="false">NFTs</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-black display-4"
                            href="#">Development</a>
                            <!-- <a class="dropdown-item text-black display-4"
                                href="#sto-7">Thanos</a> -->
                        </div>
                    </li>
                    <!-- <li class="nav-item"><a class="nav-link link text-black text-primary display-4"
                            href="#sto-7">Press</a>
                    </li> -->
                </ul>
                <div class="icons-menu">

                    <a class="iconfont-wrapper" href="indexcn.html"
                        style="font-size: 1.0rem; line-height: 35px; color: #3a3030!important;">
                        简体中文
                    </a>
                </div>
            </div>
        </div>
    </nav>
  </section>
  <section class="header3 cid-slHUWxmpYW" id="header3-u">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 100%;">
                <img src="images/eggs-transparent-background-18-920x496.png?id=11" alt="Mobirise" title="">
            </div>
            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">
                    <strong><br></strong><strong>DeFi made easy</strong><br>
                </h1>
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5"><em>One Click Staking<br>Locked
                            Liquidity</em><br><em>Multiple Pools
                            <br></em><br></p>
                </div>
                <div class="mbr-section-btn"><a class="btn btn-md btn-success display-4" href="https://t.me/infinitygmes"
                        target="_blank">Telegram<br></a>
                 <a
                        class="btn btn-md btn-white-outline display-4" href="#info2-x">Table</a>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="igcCon" id="app">
        <section class="nftContainer">
            <ul class="nftProList">
                <li class="nftProItem" v-for="(item,index) in gemList" :key="index">
                    <img :src="item.img">
                    <div class="nftPanel">
                        <h2 class="names">{{item.name}}</h2>
                        <p class="infos">{{item.info}}</p>
                        <p class="prices">初始售价    {{item.cost}} IGC</p>
                        <p class="prices">当前售价    {{item.price}} IGC</p>
                        <p class="prices">预估收益    {{item.income}} IGC</p>
                        <p class="prices">当前轮次    {{item.rounds}}</p>
                        <p class="hoders">当前权益持有者： <span>{{item.holder}}</span></p>
                        <p class="hoders">{{item.name}}即将归属者： <span>{{item.winner}}</span></p>
                        <el-button class="btn" @click="toDoing(item,index)">{{ item.isApproved?'立即抢购':'授权' }}</el-button>
                        <p class="prices">我的余额 {{balance}}</p>
                    </div>
                </li>
            </ul>
        </section>
        <section class="purchesePanel">
            <h2 class="purTitle">宝石回购</h2>
            <div class="purListPanel">
                <ul class="purList">
                    <li class="purItem" v-for="(item,index) in gemList" :key="index">
                        <h3 class="name">{{item.name}}</h3>
                        <p class="price">回购价格  <span>{{item.purchase}} IGC</span></p>
                        <el-button class="btn" @click="purGems">立即回购</el-button>
                    </li>
                </ul>
                <img class="shoutao" src="./images/InfinityStones-Infographic-01-740x740.jpg">
                <p class="shoutaoinfo">
                    在集齐了六颗无限宝石后，将力量、时间、空间、灵魂、现实和心灵宝石镶嵌在无限手套上可以合成终极唯一版无限手套NFT，持有者可以当作收藏品长期持有，也可以将其在各大NFT收藏品平台出售。同时，智能合约永久性回购。
                </p>
                <p class="purprice">回购价格  <span>1000000 IGC</span></p>
                <el-button class="btn" @click="purStones">立即回购</el-button>
            </div>
        </section>
    </div>
    

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/nav-dropdown.js"></script>
  <script src="js/navbar-dropdown.js"></script>
  
  <script>
      console.log(window.tronWeb)
      var app = new Vue({
        el: '#app',
        data: {
            TOKENC:null,
            tokenAddr:'TVz98u3kqqkJQVM66poytXbi5gYRuMacSe',
            balance:0,
            gemList:[
                {
                    active:0,
                    name:'力量宝石',
                    info:'无限大的物理力量，且使用者将变成不可战胜的绝对刀枪不入',
                    cost:0,
                    price:0,
                    income:0,
                    rounds:0,
                    fee:0,
                    holder:'',
                    img:'./images/PowerStone.jpg',
                    winner:'TQhQxEQN4FCJv28yiJqrtUjw29AafhMWjf',
                    contract:'TMHBQRjNjRgTrpZrcxEWazxezccAxPbh7e',
                    tokenId:10001
                },
                {
                    active:0,
                    name:'空间宝石',
                    info:'允许使用者瞬间达到任何位置，移动对象或者重新安排空间序列，最高效率达到无所不在',
                    cost:0,
                    price:0,
                    income:0,
                    rounds:0,
                    fee:0,
                    holder:'',
                    img:'./images/SpaceStone.jpg',
                    winner:'TQhQxEQN4FCJv28yiJqrtUjw29AafhMWjf',
                    contract:'TQhQxEQN4FCJv28yiJqrtUjw29AafhMWjf',
                    tokenId:10002
                },
                {
                    active:0,
                    name:'时间宝石',
                    info:'允许使用者完全控制过去、当下、未来的时间，时间旅行，加速时间，时间倒流，时间错乱，甚至可以使时间无限循环，最高效率达到无所不知',
                    cost:0,
                    price:0,
                    income:0,
                    rounds:0,
                    fee:0,
                    holder:'TQhQxEQN4FCJv28yiJqrtUjw29AafhMWjf',
                    img:'./images/TimeStone.jpg',
                    winner:'',
                    contract:'TXmjUvyfbMPCZnZcQRWTZ3UwUvxwJ7wrXD',
                    tokenId:10003
                },
                {
                    active:0,
                    name:'现实宝石',
                    info:'允许使用者无视科学定律，自行安排',
                    cost:0,
                    price:0,
                    income:0,
                    rounds:0,
                    fee:0,
                    holder:'TQhQxEQN4FCJv28yiJqrtUjw29AafhMWjf',
                    img:'./images/RealityStone.jpg',
                    winner:'',
                    contract:'TCZxqtNU5JYPK5YtT14GmC2ssM8kkWKGLH',
                    tokenId:10004
                },
                {
                    active:0,
                    name:'心灵宝石',
                    info:'宇宙意识的化身，可以使使用者提高心灵能力和进入其他所有存在的心灵之中',
                    cost:0,
                    price:0,
                    income:0,
                    rounds:0,
                    fee:0,
                    holder:'',
                    img:'./images/MindeStone.jpg',
                    winner:'TQhQxEQN4FCJv28yiJqrtUjw29AafhMWjf',
                    contract:'TSBei9qpKu8KSD1hZgAA31qwTk62wqBmuh',
                    tokenId:10005
                },
                {
                    active:0,
                    name:'灵魂宝石',
                    info:'可以偷窃，控制，改变对方的灵魂，且可以无中生有的创造灵魂',
                    cost:0,
                    price:0,
                    income:0,
                    rounds:0,
                    fee:0,
                    holder:'',
                    img:'./images/SoulStone.jpg',
                    winner:'TQhQxEQN4FCJv28yiJqrtUjw29AafhMWjf',
                    contract:'TDbVS2weo2dMoGUXjpz8nDhj3xD6June3U',
                    tokenId:10006
                }
            ]
        },
        methods: {
            async init(){
                this.TOKENC = await window.tronWeb.contract().at(this.tokenAddr);
                let balance = await this.TOKENC.balanceOf(window.tronWeb.defaultAddress.base58).call()
                this.balance = balance/Math.pow(10,6)
                this.gemList.forEach((item,index) => {
                    this.getInfos(item,index)
                })
            },
            async getInfos(item,index) {
                let contract = await window.tronWeb.contract().at(item.contract);
                item.cost = await contract['initialPrice']().call()
                let price = await contract['calculatePayment']().call()
                item.price = (price[0]/Math.pow(10,6)).toFixed(2)
                item.fee = price[1]/Math.pow(10,6)
                item.income = ((parseFloat(price[0])*0.05 - parseFloat(price[0])*0.01)/Math.pow(10,6)).toFixed(2)
                item.rounds = await contract['counter']().call()
                item.rounds = parseInt(item.rounds) + 1
                let holder = await contract['EquityOwner']().call()
                item.holder = tronWeb.address.fromHex(holder)
                let winner = await contract['winner']().call()
                item.winner = tronWeb.address.fromHex(winner)
                let purchase = await contract['repurchasePrice']().call()
                item.purchase = (purchase/Math.pow(10,6)).toFixed(2)
                let approve = await this.TOKENC.allowance(window.tronWeb.defaultAddress.base58, item.contract).call()
                item.isApproved = parseInt(approve)?true:false
                this.$set(this.gemList,index,item)
            },
            async toDoing(item,index){
                if(item.isApproved){
                    this.deposit(item,index)
                }else{
                    this.doApprove(item,index)
                }
            },
            async deposit(item,index){
                if(window.tronWeb.defaultAddress.base58 == item.holder){
                    alert('本地址已经是权益持有者')
                    return
                }
                let that = this
                let contract = await window.tronWeb.contract().at(item.contract);
                var functionSelector = 'buy()'
                var parameter = []
                const transaction = await window.tronWeb.transactionBuilder.triggerSmartContract(
                    item.contract,
                    functionSelector,
                    { shouldPollResponse: true },
                    parameter
                )
                window.tronWeb.trx
                    .sign(transaction.transaction)
                    .then(function(signedTransaction) {
                    window.tronWeb.trx
                        .sendRawTransaction(signedTransaction)
                        .then(function(res) {
                            that.init()
                            alert('购买成功')
                        })
                    })
            },
            async doApprove(item,index){
                let that = this
                this.TOKENC['approve'](item.contract, '100000000000000000000000000').send({ shouldPollResponse: false }).then((res) => {
                    if (res) {
                        item.isApproved = true
                        that.$set(that.gemList,index,item)
                    }
                })
            },
            purGems(){
                alert('您未持有该宝石！')
            },
            purStones(){
                alert('您未持有无限手套！')
            },
            initTronWeb() { // 初始化tronweb
                return new Promise(function(resolve, reject) {
                    const tries = 0
                    const loadFinish = function() {
                        resolve(window.tronWeb)
                    }
                    const timer = setInterval(function() {
                        if (window.tronWeb) {
                            clearInterval(timer)
                            if (!window.tronWeb.defaultAddress.base58) {
                            window.tronWeb.on('addressChanged', function() {
                                return loadFinish()
                            })
                            } else {
                                return loadFinish()
                            }
                        }
                        if (tries > 10) {
                            clearInterval(timer)
                            reject()
                        }
                    }, 100)
                })
                }
        },
        async created(){
            this.initTronWeb().then(()=>{
                this.init()
            })
        }
      })
  </script>
  <style>
      body{
          background:#efefef;
      }
      ul,li,a,p,h2,h3{padding:0;margin:0;list-style: none;}
      .nftContainer{
          max-width:1200px;
          padding:20px 10px;
          box-sizing: border-box;
          margin:0 auto;
      }
      .nftProList{
          display:flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          margin-top:40px;
      }
      .nftProItem {
          text-align:center;
          margin:0 20px 40px;
      }
      .nftProItem img{
          width:85px;
          border-radius:50%;
          margin-bottom:20px;
      }
      .nftProItem .nftPanel{
          background:#fff;
          border-radius:10px;
          padding:10px 20px 20px;
          width:300px;
      }
      .nftPanel .names{
          font-size:24px;
          font-weight:bold;
          padding-top:10px;
          padding-bottom:20px;
      }
      .nftPanel .infos{
          font-size:14px;
          text-align:left;
          padding-bottom:30px;
          height: 120px;
      }
      .nftPanel .prices{
          font-size:16px;
          text-align:left;
          padding-bottom:5px;
      }
      .nftPanel .prices span{
          font-size:18px;
      }
      .nftPanel .hoders{
          padding-top:20px;
      }
      .nftPanel .btn{
          background:#0008b2;
          color:#fff; 
          height:45px;  
          margin-top:40px;
      }
      .purchesePanel{
          background:#fff;
          text-align:center;
      }
      .shoutao{
          width:320px;
          margin-top:60px;
      }
      .shoutaoinfo{
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        padding-top: 20px;
        text-indent: 15px;
        max-width: 600px;
        margin: 0 auto;
      }

      .purchesePanel .purListPanel .purList{
          display:flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
      }
      .purchesePanel .purTitle{
          text-align:center;
          padding:30px 0;
      } 
      .purchesePanel .purListPanel{
          max-width:1200px;
          padding:20px 10px;
          box-sizing: border-box;
          margin:0 auto;
      }
      .purprice{
          margin-top:20px;
      }
      .purprice span{
        color: #007bff;
      }
      .purchesePanel .btn{
        height:36px;
          background:#c79b00;
          color:#fff;
          margin:0 auto;
      }
      .purList .purItem{
          margin-bottom:20px;
      }
      .purList .purItem .name{
          font-size:20px;
          color:#00ddc6;
          font-weight:500;
          padding-bottom:15px;
          text-align:center;
      }
      .purList .purItem .price{
          text-align: center;
          color:#767676;
          padding-bottom:10px;
      }
      .purList .purItem .price span{
          color:#007bff;
      }
      .purList .purItem .btn{
          height:36px;
          background:#c79b00;
          color:#fff;
          margin:0 auto;
      }

  </style>
</body>
</html>  